#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #cecece;
    background-color: #cecece;
  }
  
  #options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    height: 200px;
    width: 200px;
  }
  
  #data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  #data > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cecece;
    padding: 10px;
  }